
/* Projects Section */
.projects-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.image-container {
    bottom: 2rem;
    height: 10rem;
    position: relative;
}

.image-container img {
    border-radius: 1rem;
}

.image-container .p-one {
    width: 200px;
}

.p-three {
    background: url('project.png');
}

.p-four {
    background: url('project.png');
}

.projects-item {
    overflow: hidden;
    width: 20rem;
    margin: 1rem;
    background: #0669BF;
    border-radius: 1.5rem;
    padding: 2rem 1rem;
    text-align: center;
}

.projects-item h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.projects-item p {
    line-height: 20px;
    font-size: .9rem;
}



/* Contact me Section */
.form {
    display: flex;
    width: 80%;
    padding: 0 2rem;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.form-div input,
textarea {
    border: 2px solid rgba(77, 181, 255, .4);
    border-radius: .5rem;
    width: 100%;
    margin: 0.5rem 0rem;
    font-size: .9rem;
    background: transparent;
    margin: 0.5rem 0rem;
    padding: 0.5rem 1rem;
    color: white;
    resize: none;
}






/* Utility Classes */
.poppins {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}




.items-center {
    align-items: center;
}

.f-col {
    flex-direction: column;
}


.p-relative {
    position: relative;
}

.t-white {
    color: #fff;
}

.bg-color {
    background-color: #1f1f38;
}

.t-center {
    text-align: center;
}

.my-2 {
    margin: 2rem 0;
}

.f-2 {
    font-size: 2rem;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.w-50 {
    width: 50%;
}

.w-80 {
    width: 80%;
}

.h-50 {
    height: 50vh;
}

.mx-1 {
    margin: 0 1rem;
}

.m-top {
    margin-top: 1rem;
}

.m-auto {
    margin: auto;
}

.btn {
    margin-left: 0 .5rem;
    font-size: 1rem;
    color: #4db5ff;
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    border: 1px solid #4db5ff;
    border-radius: 0.4rem;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

.buttons a,
#hireme {
    text-decoration: none;
}

.btn:hover {
    color: #1f1f38;
    border-color: #fff;
    background-color: #fff;
}

.live {
    color: #1f1f38;
    background-color: #4db5ff;
}